<!DOCTYPE html>
{% load static i18n %}
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- TITLE -->
        <title>Tiny Fighters {% block title %}{% endblock title%}</title>

        <!-- META DESCRIPTION -->
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />

        <!-- META OPENGRAPH -->
        {% block open-graph %}
        <meta property="og:type" content="website" />
        <meta property="og:title" content='' />
        <meta property="og:description" content='' />
        <meta property="og:site_name" content="Tiny Fighters" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content='Tiny Fighters' />
        <meta name="twitter:description" content='' />
        <meta name="twitter:site" content="Tiny Fighters" />

        <!-- Theme -->
        <meta name="theme-color" content="#000000">
        <meta name="msapplication-navbutton-color" content="#000000">
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
        {% endblock open-graph %}

        <!-- Favicon -->
        <link href="{% static 'img/icons/favicon.ico' %}" rel="shortcut icon">
        <link href="{% static 'img/icons/touch.png' %}" rel="apple-touch-icon-precomposed">

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/fancybox/dist/jquery.fancybox.min.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/slider-revolution/css/settings.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/slider-revolution/css/layers.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/slider-revolution/css/navigation.css' %}">

        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        {% block css_header %}
        {% endblock %}

        <!-- JS -->
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main-header.js' %}"></script>
        <script>
            var image = new Image();
            image.onload = function () {
                    $(".loader-section").css("background-image", "url('" + image.src + "')");
            }
            image.src = "{% static 'img/black-knight-fighter.png' %}";
        {% block js_header %}
        {% endblock %}
        </script>


    </head>
    <body id="homepageBody">
        
        <div class="loader-section"
             style="
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
                    background-position: center right;
                    background-size: 30%;
                    background-repeat: no-repeat;
                    transition: background-image 3s ease 0s;
                    -webkit-transition: background-image 3s ease 0s;
                    ">
            <div class="loader-section-content">
                <div class="loader-section-title display-1 h1">
                    Tiny Fighters
                </div>
                <div class="loader-section-progress">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="loader-section-bg"></div>
        
        {% block main %}
        {% endblock main %}

    </body>

    {% block js_bottom %}
    {% endblock %}

    <script src="{% static 'vendor/object-fit-images/dist/ofi.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/dist/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/animejs/lib/anime.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'vendor/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendor/moment-timezone/builds/moment-timezone-with-data.min.js' %}"></script>
    <script src="{% static 'vendor/slider-revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'vendor/slider-revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-validator/dist/validator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main-header.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            {% block js_document_ready %}
            {% endblock %}
        });
    </script>

</html>